<footer class="fixed-bottom">
	<img src="../img/logo_debian.png" alt="footerImage" class="img-fluid rounded" height="50" width="100">
	<img src="../img/logo_docker.png" alt="footerImage" class="img-fluid rounded" height="50" width="100">
	<!--<img src="img/logo_apache.png" alt="footerImage" class="img-fluid rounded" height="50" width="100">
	<img src="img/logo_php_mysql.png" alt="footerImage" class="img-fluid rounded" height="50" width="100">-->
	<h6><p class="text-white text-opacity-50">&reg; DentalCare - Todos los derechos reservados 2022</p></h6>
</footer>